USE [master]
GO
/****** Object:  Database [Esemenydb]    Script Date: 2016.04.14. 20:01:59 ******/
CREATE DATABASE [Esemenydb] ON  PRIMARY 
( NAME = N'Esemenydb', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Esemenydb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Esemenydb_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Esemenydb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esemenydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esemenydb]
GO
/****** Object:  Table [dbo].[Esemeny_alap]    Script Date: 2016.04.14. 20:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esemeny_alap](
	[esemenyID] [int] IDENTITY(1,1) NOT NULL,
	[esemeny_letrehozo] [int] NOT NULL,
	[esemeny_nev] [varchar](50) NOT NULL,
	[esemeny_leiras] [varchar](max) NULL,
	[tipusID] [int] NOT NULL,
	[mettol] [datetime] NOT NULL,
	[meddig] [datetime] NOT NULL,
	[fizetett] [bit] NOT NULL,
	[kep] [image] NULL,
	[esemeny_hely] [int] NOT NULL,
 CONSTRAINT [PK_Esemeny_alap] PRIMARY KEY CLUSTERED 
(
	[esemenyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esemeny_erdeklodes]    Script Date: 2016.04.14. 20:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esemeny_erdeklodes](
	[esemenyID] [int] NOT NULL,
	[szemelyID] [int] NOT NULL,
	[allapot] [int] NOT NULL,
	[ertekeles] [int] NULL,
	[mod_datuma] [datetime] NOT NULL,
 CONSTRAINT [PK_Esemeny_erdeklodes] PRIMARY KEY CLUSTERED 
(
	[esemenyID] ASC,
	[szemelyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esemeny_hely]    Script Date: 2016.04.14. 20:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esemeny_hely](
	[helyID] [int] IDENTITY(1,1) NOT NULL,
	[orszag] [nvarchar](50) NULL,
	[varos] [nvarchar](50) NULL,
	[utca] [nvarchar](50) NULL,
	[hazszam] [int] NULL,
	[iranyitoszam] [int] NULL,
 CONSTRAINT [PK_Esemeny_hely] PRIMARY KEY CLUSTERED 
(
	[helyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esemeny_valtozasok]    Script Date: 2016.04.14. 20:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esemeny_valtozasok](
	[esemenyID] [int] NOT NULL,
	[szemelyID] [int] NOT NULL,
	[mikor] [datetime] NOT NULL,
	[regi_allapot] [int] NOT NULL,
 CONSTRAINT [PK_Esemeny_valtozasok] PRIMARY KEY CLUSTERED 
(
	[esemenyID] ASC,
	[szemelyID] ASC,
	[mikor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Felhasznalok]    Script Date: 2016.04.14. 20:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Felhasznalok](
	[szemelyID] [int] IDENTITY(1,1) NOT NULL,
	[szemely_nev] [varchar](50) NOT NULL,
	[felh_nev] [varchar](50) NOT NULL,
	[szemely_jelszo] [image] NOT NULL,
	[szemely_szulev] [int] NULL,
	[szemely_nem] [bit] NULL,
	[szemely_hely] [varchar](50) NULL,
	[szemely_email] [varchar](50) NULL,
 CONSTRAINT [PK_Felhasznalok] PRIMARY KEY CLUSTERED 
(
	[szemelyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipus_altipus]    Script Date: 2016.04.14. 20:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipus_altipus](
	[tipusID] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
	[altipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipus_altipus] PRIMARY KEY CLUSTERED 
(
	[tipusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [NonClusteredIndex-20151120-172304]    Script Date: 2016.04.14. 20:01:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20151120-172304] ON [dbo].[Tipus_altipus]
(
	[tipus] ASC,
	[altipus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Esemeny_alap] ADD  CONSTRAINT [DF_Esemeny_alap_fizetett]  DEFAULT ((0)) FOR [fizetett]
GO
ALTER TABLE [dbo].[Esemeny_alap]  WITH CHECK ADD  CONSTRAINT [FK_Esemeny_alap_Esemeny_hely] FOREIGN KEY([esemeny_hely])
REFERENCES [dbo].[Esemeny_hely] ([helyID])
GO
ALTER TABLE [dbo].[Esemeny_alap] CHECK CONSTRAINT [FK_Esemeny_alap_Esemeny_hely]
GO
ALTER TABLE [dbo].[Esemeny_alap]  WITH CHECK ADD  CONSTRAINT [FK_Esemeny_alap_Felhasznalok] FOREIGN KEY([esemeny_letrehozo])
REFERENCES [dbo].[Felhasznalok] ([szemelyID])
GO
ALTER TABLE [dbo].[Esemeny_alap] CHECK CONSTRAINT [FK_Esemeny_alap_Felhasznalok]
GO
ALTER TABLE [dbo].[Esemeny_alap]  WITH CHECK ADD  CONSTRAINT [FK_Esemeny_alap_Tipus_altipus] FOREIGN KEY([tipusID])
REFERENCES [dbo].[Tipus_altipus] ([tipusID])
GO
ALTER TABLE [dbo].[Esemeny_alap] CHECK CONSTRAINT [FK_Esemeny_alap_Tipus_altipus]
GO
ALTER TABLE [dbo].[Esemeny_erdeklodes]  WITH CHECK ADD  CONSTRAINT [FK_Esemeny_erdeklodes_Esemeny_alap] FOREIGN KEY([esemenyID])
REFERENCES [dbo].[Esemeny_alap] ([esemenyID])
GO
ALTER TABLE [dbo].[Esemeny_erdeklodes] CHECK CONSTRAINT [FK_Esemeny_erdeklodes_Esemeny_alap]
GO
ALTER TABLE [dbo].[Esemeny_erdeklodes]  WITH CHECK ADD  CONSTRAINT [FK_Esemeny_erdeklodes_Felhasznalok] FOREIGN KEY([szemelyID])
REFERENCES [dbo].[Felhasznalok] ([szemelyID])
GO
ALTER TABLE [dbo].[Esemeny_erdeklodes] CHECK CONSTRAINT [FK_Esemeny_erdeklodes_Felhasznalok]
GO
ALTER TABLE [dbo].[Esemeny_valtozasok]  WITH CHECK ADD  CONSTRAINT [FK_Esemeny_valtozasok_Esemeny_erdeklodes] FOREIGN KEY([esemenyID], [szemelyID])
REFERENCES [dbo].[Esemeny_erdeklodes] ([esemenyID], [szemelyID])
GO
ALTER TABLE [dbo].[Esemeny_valtozasok] CHECK CONSTRAINT [FK_Esemeny_valtozasok_Esemeny_erdeklodes]
GO
USE [master]
GO
